body {
    background: #333333;
    color: #f8f8f8;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #f4a949;
}

#subcontainer {
    margin-bottom: 9rem;
}

.heading {
    display: block;
    position: relative;
    letter-spacing: 3px;
    text-align: center;
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.heading::after {
    content: '';
    position: absolute;
    top: 100%;
    height: 5px;
    width: 3rem;
    background: #7843e9;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.sub-heading {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 80rem;
    margin-bottom: 3rem;
    line-height: 1.6;
}


.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

.about-content-main-details {
    color: #f8f8f8;
    font-size: 1.2rem;
    text-transform: lowercase;
}

.about-content-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content-skills>h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.about-skills {
    display: flex;
    flex-wrap: wrap;
}

.skills-skill {
    margin: 1rem;
}