body {
    background-color: black;
    color: white;
}

img {
    width: 600px;
    height: 700px;
    position: absolute;
    bottom: 20%;
}

.img {
    display: inline-flex;
}

.content {
    float: right;
    position: absolute;
    right: 30%;
    top: 6.5%;
}

ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 60px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.socialLinks {
    background-color: #181823;
    width: 225%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
}

.btn {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    height: 3rem;
    width: 12rem;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 2rem;
    font-weight: bolder;
}

.btn:hover {
    background-color: #f4a949;
}