body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    color: white;
}

.mainBg {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


img {
    width: 30rem;
    height: 40rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* The name and effects */
.nameContainer {
    font-size: 4rem;
    display: inline-flex;
    gap: 1rem;
}

.firstName {
    display: flex;
}

.firstLetter:hover {
    color: #f4a949;
    cursor: default;
    animation: shake 1s;
}

.lastName {
    display: flex;
    font-weight: lighter;
}

.lastLetter:hover {
    color: #f4a949;
    cursor: default;
    animation: shake 1s;
}


/*The social medi links*/
.socialLinks {
    background-color: white;
    width: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10%;
    position: relative;
    bottom: 15px;
}

.socialLinks:hover {
    transition: 300ms;
    background-color: #f4a949;
}

ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 60px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

p {
    font-size: 1.5rem;
    color: white
}

p:hover {
    transition: 300ms;
    color: #f4a949;
}


/* Lets Chat Button */
.whatsApp {
    margin-right: 11.5rem;
    margin-left: auto;
}

.btn {
    height: 3rem;
    width: 12rem;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 20px;
    align-items: center;


}

.btn:hover {
    transition: 300ms;
    background-color: #f4a949;
    color: white;
    cursor: pointer;

}