body {
  color: #bda2a2;
  box-sizing: border-box;
  background: linear-gradient(to right, #241f1f 0% 32%) fixed;
  margin: .5rem 1rem 1rem;
  font-family: Ysabeau SC, sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
}

.mainImg {
  grid-template-rows: 0;
  grid-template-columns: 1fr;
  width: 700px;
  height: 419px;
  display: grid;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  justify-content: center;
  display: flex;
  position: relative;
  top: 11rem;
}

.imgMe {
  width: 28.3rem;
  height: 28.25rem;
}

.sunrays-container {
  justify-content: center;
  display: flex;
  position: relative;
  top: 5.5rem;
}

.rays {
  width: 38rem;
  height: 32.25rem;
  display: none;
}

.mainImg:hover {
  transition: all 1s;
}

.mainImg:hover .rays {
  display: block;
}

.nameContainer {
  position: absolute;
  bottom: 3rem;
}

.movingContainer {
  padding-right: 5px;
  position: fixed;
  bottom: 5px;
}

.nameContainer h1 {
  letter-spacing: 2px;
  flex-direction: column;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  display: flex;
}

.first:before {
  content: "Sahil";
  color: #0000;
  background-image: repeating-linear-gradient(45deg, #0000 0 2px, #a45959 2px 4px);
  -webkit-background-clip: text;
  transition: all 1s;
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 0;
}

.first:after {
  content: "Sahil";
  color: #0000;
  background-image: repeating-linear-gradient(135deg, #0000 0 2px, #a45959 2px 4px);
  -webkit-background-clip: text;
  transition: all 1s;
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 0;
}

.first:hover:before {
  z-index: -1;
  top: 0;
  left: 3.5px;
}

.last:before {
  content: "Gupta";
  color: #0000;
  background-image: repeating-linear-gradient(45deg, #0000 0 2px, #a45959 2px 4px);
  -webkit-background-clip: text;
  transition: all 1s;
  position: absolute;
  top: 4rem;
  bottom: 15px;
  left: 0;
}

.last:after {
  content: "Gupta";
  color: #0000;
  background-image: repeating-linear-gradient(135deg, #0000 0 2px, #a45959 2px 4px);
  -webkit-background-clip: text;
  transition: all 1s;
  position: absolute;
  top: 4rem;
  bottom: 15px;
  left: 0;
}

.last:hover:before {
  z-index: -1;
  top: 4rem;
  left: 4px;
}

#movingText {
  padding-left: 5px;
  font-size: 1.5rem;
}

.contact {
  z-index: 1;
  font-size: 1rem;
  transition: transform .3s;
  display: inline-flex;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

.contact:hover {
  transform: scale(1.25);
}

.link {
  background: #bda2a2;
  border: 0;
  border-radius: 60px;
  margin: 10px;
  padding: 10px;
}

.sendImg {
  vertical-align: middle;
  border-style: none;
  width: auto;
  height: auto;
}

.mobileContact {
  display: none;
}

@media (width <= 700px) {
  .mainImg {
    justify-content: center;
    width: 100vw;
    height: 24.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none;
  }

  .img-container {
    top: 7rem;
  }

  .imgMe {
    width: 17rem;
    height: 18rem;
  }

  .sunrays-container {
    top: 3.3rem;
  }

  .rays {
    width: 23rem;
    height: 22rem;
  }

  .wholeContainer {
    height: inherit;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    top: 29%;
    left: 0;
    right: 0;
  }

  .nameContainer {
    margin-left: 0;
    position: relative;
    bottom: 0;
  }

  .nameContainer h1 {
    letter-spacing: 2px;
    font-size: 3rem;
    font-weight: 700;
    display: block;
  }

  .first:before, .first:after {
    bottom: 0;
  }

  .first:hover:before {
    left: 4px;
  }

  .last:before, .last:after {
    top: 0;
    bottom: 0;
    left: 8rem;
  }

  .last:hover:before {
    z-index: -1;
    top: 0;
    left: 8.2rem;
  }

  .movingContainer {
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;
    bottom: 0;
  }

  .contact {
    z-index: 1;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    display: flex;
    position: relative;
    right: 0;
  }

  .contact:hover {
    transform: none;
  }

  .contact > p {
    display: none;
  }

  .mobileContact {
    color: #bda2a2;
    background-color: #a45959;
    border: none;
    border-radius: 20px;
    width: 7.5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    display: block;
  }

  .mobileContact:hover {
    color: #a45959;
    cursor: pointer;
    background-color: #bda2a2;
    transition: color .3s;
  }
}

/*# sourceMappingURL=index.992cb581.css.map */
