body {
    background: linear-gradient(to right, rgba(36, 31, 31, 1) 0%, rgba(36, 31, 31, 1) 32%, rgba(74, 71, 70, 1) 100%);
    color: #f8f8f8;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #f4a949;
}



/*---------Nav Bar----------*/

nav {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: inline-flex;
    gap: 1rem;
}

li {
    list-style: none;
    letter-spacing: 1.5px;
    transition: transform 0.2s;
}

li>a {
    text-decoration: none;
    color: #f4a949;
}

li:hover {
    transform: scale(1.15);
    cursor: default;
}

.mobilenav {
    display: none;
    background: transparent;
}


/* Main Image of me */
.imgMe {
    width: 32.3rem;
    height: 31.25rem;
    position: fixed;
    /*Because i donot want to image move according to anything*/
    bottom: 0;
    left: 30%;
}

/*------Name and Moving details------ */
.nameContainer {
    position: absolute;
    bottom: 15px;
}

.movingContainer {
    position: fixed;
    bottom: 5px;
    border-right: solid #f4a949 1px;
    padding-right: 5px;
}

.nameContainer h1 {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 2px;
}

.first::before {
    content: "Sahil";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(45deg,
            transparent 0,
            transparent 2px,
            white 2px,
            white 4px);
    -webkit-background-clip: text;
    bottom: 15px;
    top: 42.2px;
    left: 0;
    z-index: -1;
    transition: 1s;
}

.first::after {
    content: "Sahil";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(135deg,
            transparent 0,
            transparent 2px,
            white 2px,
            white 4px);
    -webkit-background-clip: text;
    bottom: 15px;
    top: 42.2px;
    left: 0;
    transition: 1s;
}

.first:hover:before {
    top: 48.2px;
    left: 4px;
}

.first:hover:after {
    top: 39.2px;
    left: -4px;
}


#movingText {
    font-size: 1.5rem;
    padding-left: 5px;
}


/* -------Contact -------- */
.contact {
    display: inline-flex;
    position: absolute;
    transition: transform 0.3s;
    /* transform: This is the property that will be affected by the transition. In this case, it's the transform property, which means any changes to transform will be animated. */
    right: 3%;
    bottom: 5%;
    font-size: 1rem;
}

.contact:hover {
    transform: scale(1.25);
}

.contact>p>a {
    background: #f4a949;
    padding: 10px;
    border-radius: 60px;
    border: 0px;
}

.sendImg {
    vertical-align: middle;
    border-style: none;
}

.mobileContact {
    display: none;
}

@media (max-width: 700px) {
    .mobilenav {
        display: flex;
        z-index: 10;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .navDiv {
        display: flex;
    }

    .btn {
        width: 1.5rem;
        height: 1.5rem;
    }

    .btn[name="close-circle-outline"] {
        display: none;
    }

    .list {
        flex-direction: column;
        right: 0;
        /* margin-top: 45px; */
        text-align: center;
        /* width: 20%; */
        justify-content: start;
        z-index: 5;
        transform: translate(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        position: fixed;
        padding-top: 20px;
        width: 50%;
        height: 100%;
        background-color: #241f1f;
        border-radius: 34px;
    }

    .active .list {
        transform: translateX(0);
        visibility: visible;
    }

    .active .mobilenav .btn[name="close-circle-outline"] {
        display: block;
    }

    .active .mobilenav .btn[name="add-circle-outline"] {
        display: none;
    }

    /* image of me */
    .imgMe {
        width: 20rem;
        height: 20rem;
        bottom: 0;
        right: 0;
    }

    /* Name and movingtext */

    .wholeContainer {
        display: inline-flex;
        justify-content: center;
    }

    .nameContainer h1 {
        display: block;
        position: fixed;
        top: 25%;
        left: 15%;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .movingContainer {
        top: 35%;
        left: 35%;
        bottom: auto;
    }


    /* Contact Button */
    .contact>p {
        display: none;
    }

    .mobileContact {
        display: block;
        height: 2.5rem;
        width: 7.5rem;
        border: none;
        border-radius: 20px;
        font-size: 1.1rem;
        background-color: #f4a949;
        color: #f8f8f8;
        position: fixed;
        top: 42%;
        right: 35%;
    }

    .mobileContact:hover {
        color: black;
        transition: color 0.3s;
        background-color: #f8f8f8;
        cursor: pointer;
    }

}