body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    /*It will strecth the background*/
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 30px;

}



/*---------Nav Bar----------*/

nav {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-flex;
    gap: 10px;
}

li {
    list-style: none;
}

.mobilenav {
    display: none;
    background: transparent;
}

/*------Name and Moving details------ */
.nameContainer {
    position: absolute;
    bottom: 25px;
}

.movingContainer {
    position: absolute;
    bottom: 0;
}

.nameContainer h2 {
    font-size: 2rem;
}

#movingText {
    font-size: 1rem;
}


/* -------Contact -------- */
.contact {
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1.1rem;
}

.fa-regular {
    color: #ffffff;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
}

@media (max-width: 700px) {
    .mobilenav {
        display: flex;
        z-index: 10;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .navDiv {
        display: flex;
    }

    .btn[name="close-circle-outline"] {
        display: none;
    }

    .list {
        flex-direction: column;
        position: absolute;
        right: 0;
        margin-top: 45px;
        text-align: center;
        width: 20%;
        justify-content: center;
        z-index: 15;
        transform: translate(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        position: fixed;
        padding-top: 20px;
    }

    .active .list {
        transform: translateX(0);
        visibility: visible;
    }

    .active .mobilenav .btn[name="close-circle-outline"] {
        display: block;
    }

    .active .mobilenav .btn[name="add-circle-outline"] {
        display: none;
    }

}