body {
    background: linear-gradient(to right, rgba(36, 31, 31, 1) 0%, rgba(36, 31, 31, 1) 32%);
    color: #f8f8f8;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5rem;
    color: #BDA2A2;

}

#subcontainer {
    margin-bottom: 9rem;
}

/* sub heading */
.about-sub-heading {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    max-width: 80rem;
    margin-bottom: 3rem;
    line-height: 1.6;
    color: #BDA2A2;
    margin-top: 0px;
}

.about-sub-heading::before {
    /* background-color: #BDA2A2; */
    color: #a45959;
    content: 'Hello there!';
    overflow: hidden;
    position: absolute;
    -webkit-clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    animation: slide 4s 1s linear infinite;
}

@keyframes slide {

    /*It let us define the function that is used in the animation*/
    50% {
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
}


/* content */
.about-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
}

.about-content-main {
    background-color: #241f1f;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: .5rem;
    border-radius: 5%;
}

.about-content-main-details {
    color: #f8f8f8;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.about-content-main-details>strong {
    color: #a45959;
}

.about-content-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #241f1f;
    width: 100%;
    border-radius: 8%;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
}

.about-content-skills>h3 {
    font-size: 2rem;
    margin-top: 0px;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 200;
    color: #BDA2A2;
    outline: none;
}

.about-content-skills>h3:hover {
    font-variation-settings: "wght" 700;
    letter-spacing: 1px;
    text-decoration: underline;
}

.about-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.skills-skill {
    padding: 1rem;
    transition: transform 0.4s;
}

img {
    width: 5rem;
    height: 5rem;
}

.skills-skill:hover {
    background-color: transparent;
    border-radius: 100%;
    transform: scale(1.5);
}

@media(max-width:700px) {
    .body {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about-content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5rem;
    }

    .about-skills {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}