@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    /* background-color: #dfe6e9; */
    background: linear-gradient(to right, rgba(36, 31, 31, 1) 0%, rgba(36, 31, 31, 1) 32%);
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ysabeau SC', sans-serif;
    color: #BDA2A2;

}

.mainContainer {
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 4rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blogContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    /* gap: 1rem; */
    grid-auto-flow: row;
    overflow: scroll;
}

/*Card effects*/
.blog-card {
    display: flex;
    justify-content: center;
    /**Imp ==> Jab bhi 3d effect use kar rhe ho toh perspective and style jis div mai laga rhe ho uske ek upar waale mai declare karo */

    /* Together, these two properties enable the creation of 3D effects by controlling the perspective of the element and its children in a 3D space */
    transform: perspective(900px);
    /*The perspective function with 900px means you are pretending to view the scene from a point that is 900 pixels away from the screen.*/
    transform-style: preserve-3d;
    /* The preserve-3d value ensures that these elements maintain their 3D positioning, so they don't get flattened to the 2D plane of the screen.
    This allows elements to interact with each other in the 3D space, giving a more realistic effect. */
}

a {
    text-decoration: none;
}

.inner-card {
    text-align: center;
    width: 300px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #241f1f;
    transition: .6s;
    transform: rotatex(65deg) translatey(-200px) translatez(-100px);
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.5);
    border-radius: 3%;
}

.inner-card:hover {
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition: .6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.inner-card img {
    transform: translateY(15px);
    width: 200px;
    height: 120px;
}

.inner-card h2 {
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    transform: translatey(10px);
}

.para {
    color: white;
    font-family: 'Abel', sans-serif;
    width: 220px;
    transform: translatex(40px);
}


/* Responsive */
@media (max-width: 700px) {
    .blogContainer {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 0;
        margin-top: 2rem;
    }

    .card {
        display: flex;
        justify-content: center;
    }


    /* .card-1 {
        transform: rotatex(35deg) translatey(-200px) translatez(-100px);
    }

    .card-3 {
        transform: rotatex(90deg) translatey(-200px) translatez(-100px);
    } */

}